body
{
    background-color: white;
}
table {
    border-spacing: 0px;
    position: absolute;
    top: 280px;
}
tr {
    font-family: calibri;
}
th {
    color: #ffa800;
    font-family: arial;
    padding-top: 18px;
}
#data {
    border-left: 2px solid #00ffa800;
    padding-left: 20px;
}
#heading1 {
    color: #ffa800;
    font-family: verdana;
    font-size: 35px;
    position: relative;
    left: 25%;
    top: 5%;
   }
#topic {
    padding-right: 8px;
}
.portrait {
    position: absolute;
    top: 10px;
    left: 5px;
    max-width: 250px;
    max-height: 250px;
    background-image: src="images/bewerbungsfoto.jpg";
}
.eyes
{
    position: relative;
    top: 0;
    display: flex;
}
.eyes .eye
{
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    top: -16px;
    left: 45px;
    background-color: #333;
    margin: 0 1px;
    border-radius: 50%;
}
.eyes .eye::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%,-50%);
    width: 20px;
    height: 20px;
    background-color: #ffa800;
    border-radius: 50%;
}
.verticalline {
    border-left: 2px solid #ffa800;
    height: 100%;
    position: absolute;
    left: 213px;
    top: 0;
    margin-left: -3px;
}
/* .date {
     align-items: ;
} */ 